<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/output.css">
</head>
<body>
    <label class="themeSwitcherTwo relative inline-flex cursor-pointer select-none items-center">
        <input type="checkbox" id="toggleSwitch" class="sr-only" />
        
        <span class="label flex items-center text-sm font-medium text-black">
          Light
        </span>
      
        <span id="switchSlider" class="slider mx-4 flex h-8 w-[60px] items-center rounded-full p-1 duration-200 bg-[#CCCCCE]">
          <span id="switchDot" class="dot h-6 w-6 rounded-full bg-white duration-200"></span>
        </span>
      
        <span class="label flex items-center text-sm font-medium text-black">
          Dark
        </span>
      </label>
      
</body>
<script src="./scripts/toogleswitch.js"></script>
</html>